.landing-page {
  width: 100%;
  min-height: 100vh;
  background-color: #f7fbf2;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page > * {
  width: 100%;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
}
