/* src/global.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Cores Principais */
  --color-primary: #36693E;
  --color-primary-dark: #003412;

  /* Cores de Texto */
  --color-text-primary: #101828;   /* Títulos escuros */
  --color-text-secondary: #475467; /* Subtítulos */
  --color-text-placeholder: #667085;/* Placeholders */
  --color-text-on-primary: #FFFFFF;  /* Texto sobre botão verde */
  
  /* Cores de Fundo */
  --color-bg-light: #f7f9f7;   /* Fundo da página (verde claro) */
  --color-bg-white: #FFFFFF;   /* Fundo do card */
  --color-bg-surface-container-low: #F1F5EC;

  /* Outras */
  --color-border: #d0d5dd;     /* Bordas do input */
  --color-outline: #727970;

  --color-icon: #36693E;    /* Ícones */

  /* Tipografia */
  --font-family-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

  /* Sizing */
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --border-radius-xx: 32px;
  --border-radius-button: 100px;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--font-family-sans);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-primary);
  background-color: var(--color-bg-light);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Para Firefox */
  scrollbar-width: none;
  
  /* Para IE e Edge */
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
  }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
input,
textarea,
select {
  font: inherit; 
}