/* src/components/layout/Sidebar/Sidebar.module.css */
.sidebarTop {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #eaecf0;
    margin-top: 2.5rem;
    padding-bottom: 1.5rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%; /* Largura fixa da sidebar */
    height: 100vh;
    padding: 2rem 1.5rem;
    background-color: var(--color-bg-white);
    border-right: 1px solid #eaecf0; /* Borda sutil */
    position: fixed; /* Fixa a sidebar na tela */
    left: 0;
    top: 0;
  }
  
  .logo {
    width: 120px;
  }
  
  .nav {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espaço entre os links */
  }
  
  .navLink {
    display: flex;
    align-items: center;
    gap: 0.75rem; /* Espaço entre ícone e texto */
    padding: 1rem 1rem;
    border-radius: var(--border-radius-xx);
    text-decoration: none;
    font-weight: 500;
    font-size: 0.95rem;
    color: var(--color-text-secondary);
    transition: all 0.2s ease;
  }
  
  .navLink:hover {
    background-color: var(--color-bg-light);
    color: var(--color-text-primary);
  }
  
  /* Estilo do link ATIVO! */
  .navLink.active {
    background-color: #B7F1BA; /* Verde claro do link ativo */
    color: var(--color-primary-dark);
    font-weight: 600;
  }
  
  /* --- Seção Inferior --- */
  .sidebarBottom {
    padding-top: 1.5rem;
    border-top: 1px solid #eaecf0;
  }
  
  .logoutButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    width: 100%;
    border-radius: var(--border-radius-md);
    font-weight: 500;
    font-size: 0.95rem;
    color: var(--color-text-secondary);
  }
  
  .logoutButton:hover {
    background-color: var(--color-bg-light);
    color: var(--color-text-primary);
  }